{% extends 'bet/base.html' %}
{% block content %}
<div class="row">
    {% if user.is_authenticated %}


    <div class="col-md-3">
        <p>Wylosuj swoją mikołajkę!</p>
        <form action="/" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Losuj</button>
        </form>
    </div>
</div>
    {% else %}
        <div class="col-md-6">
        <p><h2><br>Mikołajkowe losowanie. Zaloguj się danymi podanymi przez Karola, kliknij losuj i zacznij szukać prezentu!</h2></p>
        </div>
    {% endif %}
</div>
{% endblock %}